<head>
<title>Ora p&euml;r femra</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="Y2JiM2I1YWUtMDljOS00NWE1LWJmODItMjU1MmRmOWUwNmU5NjM2OTAwOTM0MzAyMjY4MjM3"></script>

<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="styles/categories_responsive.css">
</head>

<div class="fs_menu_overlay"></div>
		<div class="hamburger_menu">
			<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
			<div class="hamburger_menu_content text-right">
				<ul class="menu_top_nav">
					
					<li class="menu_item has-children">
						<a href="#">
							Llogaria ime
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="menu_selection">
							<li><a href="#" class="snipcart-user-email"><i class="fa fa-sign-in" aria-hidden="true"></i>Kyqu</a></li>
							<li><a href="#" class="snipcart-edit-profile"><i class="fa fa-user-plus" aria-hidden="true"></i>Ndrysho_Profilin</a></li>
							<li><a href="#" class="snipcart-user-logout"><i class="fa fa-sing-out" aria-hidden="true"></i>&Ccedil;kyqu</a></li>
						</ul>
					</li>
					<li class="menu_item"><a href="index.html">Ballina</a></li>
					<li class="menu_item"><a href="#ofertatt">Oferta</a></li>
					<li class="menu_item"><a href="teknologji.html">Teknologji</a></li>
					<li class="menu_item"><a href="oram.html">Ora</a></li>
					<li class="menu_item"><a href="qanta.html">&Ccedil;anta</a></li>
					<li class="menu_item"><a href="kontakt.html">Kontakt</a></li>
				</ul>
			</div>
		</div>
		
	<div class="container product_section_container">
		<div class="row">
			<div class="col product_section clearfix">

				<!-- Breadcrumbs -->

				<div class="breadcrumbs d-flex flex-row align-items-center">
					<ul>
						<li><a href="index.html">Ballina</a></li>
						<li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Ora</a></li>
					</ul>
				</div>

				<!-- Sidebar -->

				<div class="sidebar">
					<div class="sidebar_section">
						<div class="sidebar_title">
							<h5>Ora</h5>
						</div>
						<ul class="sidebar_categories">
							<li><a href="oram.html">Meshkuj</a></li>
							<li class="active"><a href="oraf.html"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Femra</a></li>
						</ul>
					</div>

					<!-- Price Range Filtering -->
					<div class="sidebar_section">
							<div class="sidebar_title">
								<h5>Filtro sipas &ccedil;mimi</h5>
							</div>
							<p>
								<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
							</p>
							<div id="slider-range"></div>
							<div class="filter_button"><span>Filtro</span></div>
						</div>

					<!-- Color -->
					<div class="sidebar_section">
						<div class="sidebar_title">
							<h5>Color</h5>
						</div>
						<ul class="checkboxes">
							<li><i class="fa fa-square-o" aria-hidden="true"></i><span>Zez&euml;</span></li>
							<li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>Roz&euml;</span></li>
							<li><i class="fa fa-square-o" aria-hidden="true"></i><span>Bardh&euml;</span></li>
							<li><i class="fa fa-square-o" aria-hidden="true"></i><span>Kalt&euml;r</span></li>
							<li><i class="fa fa-square-o" aria-hidden="true"></i><span>Portokallt</span></li>
							<li><i class="fa fa-square-o" aria-hidden="true"></i><span>Verdh&euml;</span></li>
							<li><i class="fa fa-square-o" aria-hidden="true"></i><span>Gjelb&euml;r</span></li>
							<li><i class="fa fa-square-o" aria-hidden="true"></i><span>Kuqe</span></li>
							<li><i class="fa fa-square-o" aria-hidden="true"></i><span>Hiri</span></li>
							<li><i class="fa fa-square-o" aria-hidden="true"></i><span>Kafe</span></li>
							<li><i class="fa fa-square-o" aria-hidden="true"></i><span>Vjollce</span></li>
						</ul>
						<div class="show_more">
							<span><span>+</span>M&euml; shum&euml;</span>
						</div>
					</div>

				</div>

				<!-- Main Content -->

				<div class="main_content">

					<!-- Products -->

					<div class="products_iso">
						<div class="row">
							<div class="col">

								<!-- Product Sorting -->

								<div class="product_sorting_container product_sorting_container_top">
									<ul class="product_sorting">
										<li>
											<span class="type_sorting_text">Sortimi Random</span>
											<i class="fa fa-angle-down"></i>
											<ul class="sorting_type">
												<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Sortimi Random</span></li>
												<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>&Ccedil;mimi</span></li>
												<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Emri i Produktit</span></li>
											</ul>
										</li>
										<li>
											<span>Paraqit</span>
											<span class="num_sorting_text">6</span>
											<i class="fa fa-angle-down"></i>
											<ul class="sorting_num">
												<li class="num_sorting_btn"><span>6</span></li>
												<li class="num_sorting_btn"><span>12</span></li>
												<li class="num_sorting_btn"><span>24</span></li>
											</ul>
										</li>
									</ul>
									<div class="pages d-flex flex-row align-items-center">
										<div class="page_current">
											<span>1</span>
											<ul class="page_selection">
												<li><a href="#">1</a></li>
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
											</ul>
										</div>
										<div class="page_total"><span>of</span> 3</div>
										<div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
									</div>

								</div>

								<!-- Product Grid -->

								<div class="product-grid">

									<!-- Product 1 -->

									<div class="product-item ora">
										<div class="product discount product_filter">
											<div class="product_image">
												<img src="images/ora1f.png" alt="">
											</div>
										<div class="favorite favorite_left"></div>
											<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-&euro;3.00</span></div>
											<div class="product_info">
												<h6 class="product_name"><a href="single.html">Or&euml; p&euml;r femra</a></h6>
												<div class="product_price">&euro;17.00<span>&euro;20.00</span></div>
											</div>
										</div>
										<div class="red_button add_to_cart_button"><a href="#" class="snipcart-add-item" 
											data-item-id="3"
											data-item-name="Ore per femra"
											data-item-price="17"
											data-item-max-quantity="5"
											data-item-quantity-step="1"
											data-item-weight="160"
											data-item-url="/"
											data-item-image="images/ora1f.png"
											data-item-description="Or&euml; p&euml;r femra"
											>Shto n&euml; kart&euml;</a></div>
									</div>

									<!-- Product 2 -->

									<div class="product-item ora">
										<div class="product product_filter">
											<div class="product_image" >
												<img src="images/ora2f.png" alt="" >
											</div>
											<div class="favorite"></div>
											<div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>new</span></div>
											<div class="product_info">
												<h6 class="product_name"><a href="single.html">Or&euml; p&euml;r femra</a></h6>
												<div class="product_price">&euro;17.00</div>
											</div>
										</div>
										<div class="red_button add_to_cart_button"><a href="#" class="snipcart-add-item" 
											data-item-id="5"
											data-item-name="Ore per femra"
											data-item-price="17"
											data-item-max-quantity="5"
											data-item-quantity-step="1"
											data-item-weight="160"
											data-item-url="/"
											data-item-image="images/ora2f.png"
											data-item-description="Or&euml; p&euml;r femra"
											>Shto n&euml; kart&euml;</a></div>
									</div>

									


								<!-- Product Sorting -->

								<div class="product_sorting_container product_sorting_container_bottom clearfix">
									<ul class="product_sorting">
										<li>
											<span>Paraqit:</span>
											<span class="num_sorting_text">04</span>
											<i class="fa fa-angle-down"></i>
											<ul class="sorting_num">
												<li class="num_sorting_btn"><span>01</span></li>
												<li class="num_sorting_btn"><span>02</span></li>
												<li class="num_sorting_btn"><span>03</span></li>
												<li class="num_sorting_btn"><span>04</span></li>
											</ul>
										</li>
									</ul>
									<span class="showing_results"></span>
									<div class="pages d-flex flex-row align-items-center">
										<div class="page_current">
											<span>1</span>
											<ul class="page_selection">
												<li><a href="#">1</a></li>
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
											</ul>
										</div>
										<div class="page_total"><span>of</span> 3</div>
										<div id="next_page_1" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
